@keyframes rotation {
  from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

/* сделала */
.page {
  min-width: 1100px;
  max-width: 1600px;
  margin: 0 auto;
  font-family: 'Helvetica Neue', Arial, sans-serif;
}

/* сделала */
.page__description {
  margin-top: 100px;
}

/* сделала */
.page__techniques {
  margin: 100px auto 0;
}

/* сделала */
.page__video {
  margin-top: 100px;
}

/* сделала */
.page__oakley {
  padding-top: 160px;
}

/* сделала */
.page__digits {
  margin-top: 100px;
  margin-bottom: 100px;
}

/* сделала */
.page__khan {
  padding-top: 105px;
}

/* сделала */
.page__resources {
  margin-top: 100px;
  margin-bottom: 217px;
}

/* сделала */
.header {
  height: 100vh;
  min-height: 600px;
  max-height: 756px;
  display: flex;
  justify-content: left;
  align-items: center;
  background-color: #f2f2f2;
  position: relative;
  /* Это надо или нет? */
  overflow: hidden;
}

/* сделала */
.logo {
  width: 228px;
  height: 32px;
}

/* сделала */
.logo_place_header {
  position: absolute;
  top: 30px;
  left: 64px;
}

/* сделала */
.header__title {
  max-width: 730px;
  margin: 0 0 0 64px;
  line-height: 96px;
  font-size: 102px;
  font-weight: 700;
  z-index: 3;
}

/* сделала */
.header__subtitle {
  margin: 0;
  max-width: 388px;
  position: absolute;
  bottom: 30px;
  left: 64px;
  line-height: 25px;
  font-size: 18px;
  font-weight: normal;
  z-index: 3;
}

/* сделала */
.header__link {
  color: #2f80ed;
  text-decoration: none;
  z-index: 3;
}

/* сделала */
.header__link:hover {
  opacity: .1;
  transition: opacity .3s ease-out;
}

/* сделала */
.header__main-illustration {
  object-fit: cover;
  width: 765px;
  height: 608px;
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: 2;
}

/* сделала */
.header__square-pic {
  height: 568px;
  width: 568px;
  position: absolute;
  top: 64px;
  right: 0;
  background-color: #2f80ed;
  z-index: 1;
  animation: rotation 20s linear infinite;
}

/* сделала */
.description {
  display: flex;
  justify-content: center;
}

/* сделала */
.two-columns {
  display: flex;
  width: 80%;
  justify-content: space-between;
}

/* сделала */
.two-columns__brief {
  max-width: 175px;
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
  color: #2f80ed;
  margin: 0;
  padding: 0;
}

/* сделала */
.two-columns__main-text {
  width: 80%;
  min-width: 784px;
}

/* сделала */
.two-columns__paragraph {
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
  margin: 0;
  padding: 0;
  margin-bottom: 30px;
}

/* сделала */
.two-columns__paragraph:last-of-type {
  margin-bottom: 0;
}

/* сделала */
.two-columns__span-accent {
  font-weight: 700;
}

/* сделала */
.techniques {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80%;
}

/* сделала */
.cards {
  margin: 0;
  padding: 0;
  width: 920px;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: left;
}

/* сделала */
.cards__item {
  width: 240px;
  margin-right: 100px;
  margin-top: 60px;
}

/* сделала */
.cards__item:nth-of-type(3n) {
  margin-right: 0;
}

/* сделала */
.cards__image {
  height: 160px;
  width: 160px;
  border-radius: 50%;
  margin: auto 40px;
}

/* сделала */
.cards__title {
  margin: 43px auto 0;
  padding: 0;
  line-height: 1.15;
  font-size: 24px;
  font-weight: 700;
  text-align: center;
}

/* сделала */
.cards__description {
  margin: 16px auto 0;
  padding: 0;
  line-height: 23px;
  font-size: 18px;
  font-weight: normal;
  text-align: center;
}

/* сделала */
.video {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* сделала */
.video__iframes {
  display: flex;
  position: relative;
    top: 50px;
}


/* сделала */
.video__iframe {
  margin-right: 20px;
}


/* сделала */
.video__iframe:nth-of-type(2n) {
  margin-right: 0;
}

/* сделала */
.oakley {
  display: flex;
  justify-content: center;
  background-color: #f2f2f2;
}

/* сделала */
.feynman {
  position: relative;
  min-height: 890px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #f2f2f2;
}

/* сделала */
.feynman__pic {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 867px;
  height: 637px;
  z-index: 1;
}

/* сделала */
.feynman__title {
  margin: 100px 0 70px 0;
  max-width: 648px;
  text-align: center;
  line-height: 1.15;
  font-size: 120px;
  font-weight: 700;
  z-index: 2;
}

/* сделала */
.feynman__subtitle {
  margin: 0;
  line-height: 51px;
  font-size: 36px;
  font-weight: normal;
  z-index: 2;
}

/* сделала */
.feynman__link {
  position: absolute;
  top: 50%;
  right: 48px;
  line-height: 51px;
  font-size: 36px;
  font-weight: normal;
  color: #2f80ed;
  text-decoration: none;
  z-index: 2;
}

/* сделала */
.feynman__link:hover {
  opacity: .1;
  transition: opacity .3s ease-out;
}

/* сделала */
.digits {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* сделала */
.section-title {
  margin: 0 0 20px 0;
  padding: 0;
  width: 60%;
  text-align: center;
  line-height: 1.15;
  font-size: 60px;
  font-weight: 700;
}

/* сделала */
.section-subtitle {
  margin: 0;
  padding: 0;
  width: 60%;
  text-align: center;
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
}

/* сделала */
.table {
  margin: 0;
  padding: 0;
  display: flex;
  width: 1100px;
  list-style: none;
  flex-wrap: wrap;
  justify-content: space-between;
}

/* сделала */
.table__cell {
  width: 250px;
  margin-top: 60px;
}

/* сделала */
.table__heading {
  margin: 0 0 20px 0;
  padding: 0;
  line-height: 1.15;
  font-size: 24px;
  font-weight: 700;
}

/* сделала */
.table__text {
  margin: 0 0 20px;
  padding: 0;
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
}

/* сделала */
.table__text:last-of-type {
  margin-bottom: 0;
}

/* сделала */
.khan {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #f2f2f2;
}

/* сделала */
.khan__container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 80%;
}

/* сделала */
.khan__author {
  margin: 0;
  padding: 0;
  line-height: 42px;
  font-size: 30px;
  font-weight: normal;
}

/* сделала */
.khan__title {
  margin: 0;
  padding: 0;
  line-height: 1.15;
  font-size: 60px;
  font-weight: 700;
}

/* сделала */
.khan__quote {
  margin: 50px 0 0 0;
  padding: 0;
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
}

/* сделала */
.khan__quote-author {
  margin: 36px 0 0 0;
  padding: 0;
  width: 790px;
  line-height: 1.15;
  font-size: 24px;
  font-weight: 700;
}

/* сделала */
.khan__quote-author-subline {
  margin: 10px 0 0 0;
  padding: 0;
  line-height: 1.15;
  font-size: 24px;
  font-weight: normal;
}

/* сделала */
.khan__book-container {
  display: flex;
  margin: 68px 0 0 0;
}

/* сделала */
.khan__book-pic {
  width: 620px;
  height: 608px;
  margin-right: 48px;
  background-image: url(/images/khan-book.jpg);
  background-size: cover;
}

/* сделала */
.khan__buy-link {
  margin: 0;
  padding: 0;
  line-height: 42px;
  font-size: 30px;
  font-weight: normal;
  color: #2f80ed;
  text-decoration: none;
}

/* сделала */
.khan__buy-link:hover {
  opacity: .1;
  transition: opacity .3s ease-out;
}

/* сделала */
.kaufman {
  position: relative;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #1f1f1f;
}

/* сделала */
.section-title_theme_dark {
  color: #fff;
  margin-top: 90px;
  z-index: 2;
}

/* сделала */
.section-subtitle_theme_dark {
  color: #fff;
}

/* сделала */
.table_theme_dark {
  margin-bottom: 90px;
  z-index: 2;
}

/* сделала */
.table__cell_theme_dark {
  margin-top: 80px;
  width: 200px;
  color: #fff;
}

/* сделала */
.kaufman__triangle {
  background-image: url(../images/kaufman-triangle.svg);
  background-size: cover;
  width: 877px;
  height: 877px;
  position: absolute;
  top: 0;
  right: -210px;
  z-index: 1;
  animation: rotation 20s linear infinite;
}

/* сделала */
.resources {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* сделала */
.resources__logo-zone {
  display: flex;
  margin-top: 80px;
  width: 1100px;
}

/* сделала */
.resources__link {
  width: 270px;
  height: 38px;
}

/* сделала */
.resources__link:hover {
  opacity: .1;
  transition: opacity .3s ease-out;
}

/* сделала */
.footer {
  display: flex;
  justify-content: center;
  min-height: 350px;
  background-color: #1f1f1f;
}

/* сделала */
.footer__columns {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  width: 90%;
  margin: 60px 0 40px 0;
}

/* сделала */
.footer__column_content_copyright {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-basis: 711px;
  height: 100%;
}

/* сделала */
.footer__author {
  line-height: 25px;
  font-size: 18px;
  font-weight: normal;
  margin: 18px 0 18px 0;
  color: #fff;
}

/* сделала */
.footer__column_content_social {
  display: flex;
  flex-direction: column;
}

/* сделала */
.footer__column-heading {
  margin: 0 0 20px;
  line-height: 30px;
  font-size: 18px;
  font-weight: 700;
  color: #fff;
}

/* сделала */
.footer__column-links {
  list-style: none;
  padding: 0px;
  margin: 0px;
  display: flex;
  flex-direction: column;
  margin-bottom: 16px;
}

/* сделала */
.footer__column-link {
  line-height: 30px;
  font-size: 18px;
  font-weight: normal;
  text-decoration: none;
  color: #fff;
}

/* сделала */
.footer__column-link:hover {
  opacity: .1;
  transition: opacity .3s ease-out;
}

/* сделала */
.footer__social-icon {
  width: 16px;
  height: 16px;
  margin-right: 10px;
}
